$bg-primary:white;
$bg-secundary:black;
$fonts-color: bisque;
$bg-color-nav: rgb(35, 28, 28);


.footer-vision{
    border-top: 2px solid $bg-primary;
    border-bottom: 2px solid $bg-primary;
    padding:35px;
    margin-top: 3em;
    .row{
        align-items: center;
    }
    .col-redes{
        display:flex;
        justify-self: flex-end;
        flex-grow: 0;
        gap:.5em
    }
    footer svg{
        width: 2em;
        object-fit: cover;
        align-items: right;
    }
    
    .cafe-logo{
    background-color:$bg-primary;
}
}
